
  .postit {
    line-height: 1;
    text-align:center;     
    min-width: 275px;    
    margin: 25px;    
    min-height:250px;
    //max-height:250px;
    padding-top:35px;
    position:relative;   
    //border:1px solid #E8E8E8;  
    border-top:20px solid ;
    font-family:'Annie Use Your Telescope', cursive;    
    font-size: $base-font-size+5px;
    border-bottom-right-radius: 60px 5px;
    display:inline-block;    
  
    padding-bottom: 5px;

    &.yellow {
      $baseColor: #ffff88;
      $gradientEndColor: #ffffc6; // +3E on B
      border-top-color: #fdfd86; //  -2 on R, G and B
      background: $baseColor; /* Old browsers */
      background: -moz-linear-gradient(-45deg, $baseColor 81%, $baseColor 82%, $baseColor 82%, $gradientEndColor 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,$baseColor), color-stop(82%,$baseColor), color-stop(82%,$baseColor), color-stop(100%,$gradientEndColor)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(-45deg, $baseColor 81%,$baseColor 82%,$baseColor 82%,$gradientEndColor 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(-45deg, $baseColor 81%,$baseColor 82%,$baseColor 82%,$gradientEndColor 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(-45deg, $baseColor 81%,$baseColor 82%,$baseColor 82%,$gradientEndColor 100%); /* IE10+ */
      background: linear-gradient(135deg, $baseColor 81%,$baseColor 82%,$baseColor 82%,$gradientEndColor 100%); /* W3C */
    }
    
    &.orange {
      $baseColor: #e8b76e;      
      $gradientEndColor: #e8b7ac;
      border-top-color: #e6b56c;
      background: $baseColor; /* Old browsers */
      background: -moz-linear-gradient(-45deg, $baseColor 81%, $baseColor 82%, $baseColor 82%, $gradientEndColor 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,$baseColor), color-stop(82%,$baseColor), color-stop(82%,$baseColor), color-stop(100%,$gradientEndColor)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(-45deg, $baseColor 81%,$baseColor 82%,$baseColor 82%,$gradientEndColor 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(-45deg, $baseColor 81%,$baseColor 82%,$baseColor 82%,$gradientEndColor 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(-45deg, $baseColor 81%,$baseColor 82%,$baseColor 82%,$gradientEndColor 100%); /* IE10+ */
      background: linear-gradient(135deg, $baseColor 81%,$baseColor 82%,$baseColor 82%,$gradientEndColor 100%); /* W3C */
    }
         
    &.green {
      $baseColor: #499b80;      
      $gradientEndColor: #499bbe;
      border-top-color: #47997e;
      background: $baseColor; /* Old browsers */
      // background: -moz-linear-gradient(-45deg, $baseColor 81%, $baseColor 82%, $baseColor 82%, $gradientEndColor 100%); /* FF3.6+ */
      // background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,$baseColor), color-stop(82%,$baseColor), color-stop(82%,$baseColor), color-stop(100%,$gradientEndColor)); /* Chrome,Safari4+ */
      // background: -webkit-linear-gradient(-45deg, $baseColor 81%,$baseColor 82%,$baseColor 82%,$gradientEndColor 100%); /* Chrome10+,Safari5.1+ */
      // background: -o-linear-gradient(-45deg, $baseColor 81%,$baseColor 82%,$baseColor 82%,$gradientEndColor 100%); /* Opera 11.10+ */
      // background: -ms-linear-gradient(-45deg, $baseColor 81%,$baseColor 82%,$baseColor 82%,$gradientEndColor 100%); /* IE10+ */
      background: linear-gradient(135deg, $baseColor 81%,$baseColor 82%,$baseColor 82%,$gradientEndColor 105%); /* W3C */
    }
    &.blue {
      $baseColor: #2c527a;      
      $gradientEndColor: #2c52b8;
      border-top-color: #2a5078;
      background: $baseColor; /* Old browsers */
      background: -moz-linear-gradient(-45deg, $baseColor 81%, $baseColor 82%, $baseColor 82%, $gradientEndColor 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,$baseColor), color-stop(82%,$baseColor), color-stop(82%,$baseColor), color-stop(100%,$gradientEndColor)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(-45deg, $baseColor 81%,$baseColor 82%,$baseColor 82%,$gradientEndColor 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(-45deg, $baseColor 81%,$baseColor 82%,$baseColor 82%,$gradientEndColor 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(-45deg, $baseColor 81%,$baseColor 82%,$baseColor 82%,$gradientEndColor 100%); /* IE10+ */
      background: linear-gradient(135deg, $baseColor 81%,$baseColor 82%,$baseColor 82%,$gradientEndColor 100%); /* W3C */
      color: lighten(#e8b76e,15%);
    }

    canvas {
      margin-left: 10px;
      margin-right: 10px;
    }

    .title {
      margin-top: -25px;
      margin-bottom: 25px;
      font-size: $base-font-size+5px;
      font-weight: bolder;
    }

    ul {
      list-style: none;
      li {
        text-align: left;
      }
    }

    :after {     
      content: "";
      position:absolute;
      z-index:-1;
      right:-0px; bottom:20px;
      width:200px;
      height: 25px;
      background: rgba(0, 0, 0, 0.2);
      box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
      -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
      -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
      -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
      -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
      transform: matrix(-1, -0.1, 0, 1, 0, 0);
            
    }
  }

