.print {
    * {
    font-size: 12px;
    }

    .postit {
        .title {
            h1 {
                font-size:25px;
                display: block;
            }

        }
        h3 {
            font-size: 12px;
        }
        .progress-bar {
            font-size:12px;
        }
        #responsibilities {
            width: 250px;
            height: 250px;
        }
        max-width: 40%;
        width: 250px;
        float: left;
        ul {
            li {
                font-size:12px;                
            }
        }
    }

    

    .progress-bar {
        font-size: 12px;
    }

    .panel-body {
        p {
            margin-bottom:5px;
        }
    }
}