.print {
    width: 9.25in;
    //border: 1px solid black;
    margin-top:15px;
    * {
    font-size: 12px;
    }
    .rotateContainer {
        margin-top:-25px;
    }
    .postit {
        &:first-child{
            .title {
                h1 {
                    font-size:35px;
                }
            }

            h3 {
                font-size: 20px;
            }
        }
        .title {
            h1 {
                font-size:25px;
                display: block;
            }
        }


        
        h3 {
            font-size: 12px;
        }
        .progress-bar {
            font-size:12px;
        }
        #responsibilities {
            width: 250px;
            height: 250px;
        }
        //max-width: 40%;
        width: 250px;
        ul {
            li {
                font-size:14px;                
            }
        }
    }

    .progress-bar {
        font-size: 14px;
    }

    .panel-body {
        p {
            margin-bottom:5px;
        }
    }

    .panel {
        page-break-inside: avoid;
    }

    .progress {
        height: 24px;
        margin-bottom: 18px;
        .progress-bar {
            line-height: 24px;
        }
    }
}